---
import PortableText from '@/components/PortableText.astro'
import { formatDate } from '@/lib/utils'
import { runQuery } from '@/sanity'
import { experienceSelection, type Experiences } from '@/sanity/experiences'
import { q } from 'groqd'

const query = q('*')
  .filter("_type == 'experience'")
  .grab(experienceSelection)
  .order('startDate desc')

async function getExperiences() {
  return runQuery(query)
}

const experiences: Experiences[] = await getExperiences()
---

<section class="flex flex-col items-start gap-6 pb-8 pt-6 md:py-10">
  <div class="flex w-full flex-col gap-7">
    <h2
      class="w-max border-b pb-2 text-xl font-extrabold leading-tight tracking-tighter md:text-2xl"
    >
      EXPERIENCES
    </h2>
    <div class="flex flex-col">
      {
        experiences.map((experience) => (
          <div class="gap-10 pb-10 last:pb-0 md:flex">
            {(experience.startDate || experience.endDate) && (
              <p class="pb-2 text-base text-muted-foreground md:w-1/4 md:pb-0">
                {formatDate(experience.startDate, 'short', false)} -
                {experience.endDate &&
                  formatDate(experience.endDate, 'short', false)}
                {!experience.endDateOrActive && 'Present'}
              </p>
            )}
            <div class="md:w-3/4">
              {experience.position && (
                <p class="pb-2 text-xl font-semibold leading-tight tracking-tight">
                  {experience.position}
                </p>
              )}
              {experience.company && (
                <p class="pb-5 text-base font-medium leading-tight tracking-tight">
                  {experience.company}
                </p>
              )}
              {experience.body && (
                <div class="text-justify text-base text-muted-foreground paragraph:inline  paragraph:hyphens-auto anchor:font-medium anchor:underline anchor:underline-offset-4 list:mb-0 list:mt-5 list:list-disc list:pl-6 listItem:my-2 listItem:pl-1.5   paragraph:sm:block [&>*+*]:sm:mb-4 [&>*:last-child]:sm:mb-0">
                  <PortableText portableText={experience.body} />
                </div>
              )}
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
