---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props
const pathName = Astro.url.pathname
const isActive =
  href === (pathName === '/' ? pathName : pathName.replace(/\/$/, ''))
---

<a
  href={href}
  class:list={[className, { 'bg-accent text-accent-foreground': isActive }]}
  {...props}
>
  <slot />
</a>
