---
import HeaderLink from '@/components/HeaderLink.astro'
import ThemeToggle from '@/components/ThemeToggle.astro'
import { buttonVariants } from '@/components/ui/button'
import { HOMEPAGE_URL } from '../../config'

const menuItems = [
  { title: 'Home', path: '/' },
  { title: 'Projects', path: '/projects' },
  { title: 'Blog', path: '/blog' },
  { title: 'Contact', path: '/contact' },
]
---

<header
  class="sticky top-0 z-50 w-full border-b bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60"
>
  <div
    class="container flex h-16 items-center space-x-4 sm:justify-between sm:space-x-0"
  >
    <div class="flex gap-6 md:gap-10">
      <a href={HOMEPAGE_URL} class="flex items-center space-x-2">
        <span class="inline-block font-bold">Rémi Meullemeestre</span>
      </a>
    </div>
    <div class="items-center space-x-4">
      <nav class="flex items-center space-x-1">
        {
          menuItems.map((item) => (
            <HeaderLink
              href={item.path}
              class:list={[
                buttonVariants({ variant: 'ghost' }),
                'transition-none',
              ]}
            >
              {item.title}
            </HeaderLink>
          ))
        }
      </nav>
    </div>
    <div>
      <ThemeToggle />
    </div>
  </div>
</header>
