---
import { SanityImage } from '@/components/SanityImage'
import { runQuery, skillSelection } from '@/lib/project.ts'
import { q, type InferType } from 'groqd'

const query = q('*')
  .filterByType('skill')
  .filter('featuredSkill == true')
  .grab(skillSelection)

type Skills = InferType<typeof query>

async function getSkills() {
  return runQuery(query)
}

const skills: Skills = await getSkills()
---

<section class="gap-6 pt-6 md:pt-10">
  <div class="flex flex-col items-start gap-7">
    <h2
      class="border-b pb-2 text-xl font-extrabold leading-tight tracking-tighter md:text-2xl"
    >
      SKILLS
    </h2>
    <div class="grid w-full grid-cols-3 gap-10 sm:grid-cols-4 md:grid-cols-5">
      {
        skills.map((skill) => {
          return (
            <div class="flex flex-col items-center">
              <div class="mb-2 flex h-16 w-16 rounded-full bg-secondary p-4">
                {skill.logo && (
                  <SanityImage
                    id={skill.logo?.asset._ref}
                    alt={`Logo ${skill.title ? skill.title : ''}`}
                    className="flex-shrink-0 object-contain"
                    width={64}
                    height={64}
                  />
                )}
              </div>
              {skill.title && (
                <p class="hyphens-auto text-justify text-sm text-muted-foreground">
                  {skill.title}
                </p>
              )}
            </div>
          )
        })
      }
    </div>
  </div>
</section>
