---
import { Image } from 'astro:assets'
import profil from './../assets/images/remi.jpg'
import BaseLayout from '@/layouts/BaseLayout.astro'
import { buttonVariants } from '@/components/ui/button'

import astro from './../assets/images/astro.png'
import css from './../assets/images/css.png'
import figma from './../assets/images/figma.png'
import git from './../assets/images/git.png'
import html from './../assets/images/html.png'
import javascript from './../assets/images/javascript.png'
import mui from './../assets/images/mui.png'
import node from './../assets/images/node.png'
import react from './../assets/images/react.png'
import redux from './../assets/images/redux.png'
import sanity from './../assets/images/sanity.png'
import sass from './../assets/images/sass.png'
import typescript from './../assets/images/typescript.png'
import wordpress from './../assets/images/wordpress.png'

const skills = [
  {
    image: astro,
    title: 'Astro',
  },
  {
    image: css,
    title: 'CSS3',
  },
  {
    image: figma,
    title: 'Figma',
  },
  {
    image: git,
    title: 'Git',
  },
  {
    image: html,
    title: 'HTML5',
  },
  {
    image: javascript,
    title: 'JavaScript',
  },
  {
    image: mui,
    title: 'Material UI',
  },
  {
    image: node,
    title: 'Node JS',
  },
  {
    image: react,
    title: 'React JS',
  },
  {
    image: redux,
    title: 'Redux',
  },
  {
    image: sass,
    title: 'Sass',
  },
  {
    image: sanity,
    title: 'Sanity',
  },
  {
    image: typescript,
    title: 'TypeScript',
  },
  {
    image: wordpress,
    title: 'WordPress',
  },
]
---

<BaseLayout
  title="Astro Shadcn UI Template"
  description="This template helps you build apps with Astro, Tailwind CSS, and Shadcn UI."
  class="max-w-screen-md"
>
  <section class="flex items-center justify-between gap-6 pb-8 pt-6 md:py-10">
    <div class="flex flex-col items-start gap-2">
      <h1
        class="text-3xl font-extrabold leading-tight tracking-tighter md:text-4xl"
      >
        REMI MEULLEMEESTRE
      </h1>
      <p class="text-lg text-muted-foreground">
        I'm a <span class="font-bold">full-stack developer</span> with <span
          class="font-bold">5+ years</span
        > of experience.
      </p>
    </div>
    <div class="grid place-items-center rounded-lg p-6 lg:overflow-visible">
      <Image
        src={profil}
        alt="profil picture"
        class="h-[120px] w-[120px] rounded-full border-4 object-cover object-center"
        width="240"
        height="323"
      />
    </div>
  </section>
  <section class="flex flex-col items-start gap-6 pb-8 pt-6 md:py-10">
    <div class="flex flex-col items-start gap-7">
      <h2
        class="border-b pb-2 text-xl font-extrabold leading-tight tracking-tighter md:text-2xl"
      >
        PROJECTS
      </h2>
      <p class="hyphens-auto text-justify text-lg text-muted-foreground">
        I love R&D: searching, testing and implementing new techs and stacks,
        always looking for easier and better ways of solving common issues. My
        core tools are <span class="font-bold">PHP</span>, <span
          class="font-bold">JavaScript</span
        > and <span class="font-bold">React</span>. I'm also familiar with
        <span class="font-bold">TypeScript</span>, <span class="font-bold"
          >Node.js</span
        >, <span class="font-bold">MongoDB</span>, <span class="font-bold"
          >Electron.js</span
        >, Frameworks like <span class="font-bold">Astro</span> and CMS like <span
          class="font-bold">WordPress</span
        > and <span class="font-bold">Sanity</span>.<br
          class="mb-4 hidden sm:inline"
        />
        When not online, I love hanging out with my wife as we live in a beautiful
        environnement, having a good meal, reading and playing with my cat.
      </p>
    </div>
    <div class="flex w-full justify-center">
      <a href="/projects" class:list={[buttonVariants(), 'transition-none']}>
        Projects
      </a>
    </div>
  </section>
  <section class="gap-6 pb-8 pt-6 md:py-10">
    <div class="flex flex-col items-start gap-7">
      <h2
        class="border-b pb-2 text-xl font-extrabold leading-tight tracking-tighter md:text-2xl"
      >
        SKILLS
      </h2>
      <div class="grid w-full grid-cols-3 gap-10 sm:grid-cols-4 md:grid-cols-5">
        {
          skills.map((skill) => {
            return (
              <div class="flex flex-col items-center">
                <div class="mb-2 flex h-16 w-16 rounded-full bg-secondary p-4">
                  <Image
                    src={skill.image}
                    alt={`Logo ${skill.title}`}
                    class="flex-shrink-0"
                    width="64"
                    height="64"
                  />
                </div>
                <p class="hyphens-auto text-justify text-sm text-muted-foreground">
                  {skill.title}
                </p>
              </div>
            )
          })
        }
      </div>
    </div>
  </section>
</BaseLayout>
