---
import { Image } from 'astro:assets'
import profil from '../../public/remi.jpg'
import BaseLayout from '@/layouts/BaseLayout.astro'
import { buttonVariants } from '@/components/ui/button'
---

<BaseLayout
  title="Astro Shadcn UI Template"
  description="This template helps you build apps with Astro, Tailwind CSS, and Shadcn UI."
  class="max-w-screen-md"
>
  <section class="flex items-center justify-between gap-6 pb-8 pt-6 md:py-10">
    <div class="flex flex-col items-start gap-2">
      <h1
        class="text-3xl font-extrabold leading-tight tracking-tighter md:text-4xl"
      >
        REMI MEULLEMEESTRE
      </h1>
      <p class="text-lg text-muted-foreground">
        I'm a <span class="font-bold">full-stack developer</span> with <span
          class="font-bold">5+ years</span
        > of experience.
      </p>
    </div>
    <div class="grid place-items-center rounded-lg p-6 lg:overflow-visible">
      <Image
        src={profil}
        alt="profil picture"
        class="h-[120px] w-[120px] rounded-full border-4 object-cover object-center"
      />
    </div>
  </section>
  <section class="flex flex-col items-start gap-6 pb-8 pt-6 md:py-10">
    <div class="flex flex-col items-start gap-2">
      <h2
        class="border-b pb-2 text-xl font-extrabold leading-tight tracking-tighter md:text-2xl"
      >
        PROJECTS
      </h2>
      <p class="text-justify hyphens-auto text-lg text-muted-foreground">
        I love R&D: searching, testing and implementing new techs and stacks,
        always looking for easier and better ways of solving common issues. My
        core tools are <span class="font-bold">PHP</span>, <span
          class="font-bold">React</span
        > and <span class="font-bold">Astro</span>. I'm also familiar with
        <span class="font-bold">TypeScript</span>, <span class="font-bold"
          >Node.js</span
        >, <span class="font-bold">MongoDB</span>, <span class="font-bold"
          >Electron.js</span
        > and CMS like <span class="font-bold">WordPress</span> and <span
          class="font-bold">Sanity</span
        >.<br class="mb-4 hidden sm:inline" />
        When not online, I love hanging out with my wife as we live in a beautiful
        environnement, having a good meal, reading and playing with my cat.
      </p>
    </div>
    <div class="flex w-full justify-center">
      <a href="/projects" class:list={[buttonVariants(), 'transition-none']}>
        Projects
      </a>
    </div>
  </section>
</BaseLayout>
