---

---

<section class="flex flex-col items-start gap-6 pb-8 pt-6 md:py-10">
  <div class="flex w-full flex-col gap-7">
    <h2
      class="w-max border-b pb-2 text-xl font-extrabold leading-tight tracking-tighter md:text-2xl"
    >
      EXPERIENCES
    </h2>
    <div class="flex flex-col">
      <div class="gap-10 pb-10 md:flex">
        <p class="pb-2 text-base text-muted-foreground md:w-1/4 md:pb-0">
          Nov 2023 - Present
        </p>
        <div class="md:w-3/4">
          <p class="pb-2 text-xl font-semibold leading-tight tracking-tight">
            Full Stack Web Developer
          </p>
          <p class="pb-5 text-base font-medium leading-tight tracking-tight">
            Independant / Freelance
          </p>
          <p class="hyphens-auto text-justify text-base text-muted-foreground">
            I'm currently working on personal projects in order to find a new
            position as a Web Developer (Front End or Full Stack). I've recently
            builded applications, including a blog in <span class="font-bold"
              >React</span
            >, <span class="font-bold">Bootstrap</span> and placeholder API; the
            creation of a blog with CRUD features using
            <span class="font-bold">Node</span>, <span class="font-bold">
              Express
            </span> and <span class="font-bold">MongoDB</span>; the design,
            development and online implementation of a cryptocurrency web
            application using industry standards React, <span class="font-bold"
              >Redux</span
            >, <span class="font-bold">Redux Toolkit</span>,
            <span class="font-bold">MUI</span>, <span class="font-bold"
              >RapidAPI</span
            > and a few other libraries. Finally this portfolio that uses <span
              class="font-bold">Astro</span
            >, <span class="font-bold">React</span>, <span class="font-bold"
              >TypeScript</span
            >, <span class="font-bold">Shadcn/ui</span>, <span class="font-bold"
              >Tailwind</span
            > and <span class="font-bold">Sanity</span>.
          </p>
        </div>
      </div>
      <div class="gap-10 pb-10 md:flex">
        <p class="pb-2 text-base text-muted-foreground md:w-1/4 md:pb-0">
          Nov 2019 - May 2023
        </p>
        <div class="md:w-3/4">
          <p class="pb-2 text-xl font-semibold leading-tight tracking-tight">
            Full Stack Web Developer
          </p>
          <p class="pb-5 text-base font-medium leading-tight tracking-tight">
            Group Eductive - Réseau GES
          </p>
          <p class="hyphens-auto text-justify text-base text-muted-foreground">
            The range of tasks was rather large: from the creation, and
            maintenance of websites - via the <span class="font-bold"
              >WordPress</span
            > CMS and the <span class="font-bold">"in-house" PHP framework</span
            >
            (25 brands and more than 40 domains under management) -, developement
            and extention of that framework, corrected technical audits (<span
              class="font-bold">rendering optimization</span
            >, <span class="font-bold">caching policy</span>, <span
              class="font-bold">quality</span
            >, <span class="font-bold">SEO</span> and <span class="font-bold"
              >security</span
            >), creation of documentation to support new team members, setting
            up and leading workshops - in order to respond to technical issues
            or propose new tools, concepts, in collaboration with the team -,
            support on the migration of all sites from Gandi to the Ecritel
            info-host at first, then more recently from Ecritel to Microsoft
            Azure. <br class="mb-4 hidden sm:inline" />I also had to collaborate
            with the Infrastructure and Networks department, working with <span
              class="font-bold">Microsoft Azure</span
            >, <span class="font-bold">Kubernetes</span>, <span
              class="font-bold">Docker</span
            > and <span class="font-bold">CI-CD</span>; <span class="font-bold"
              >Azure-cli</span
            >, <span class="font-bold">k8s</span> files, managing pods and containers,
            configure files for the build and deployment of Docker images, all in
            pre-production and production environment. <br
              class="mb-4 hidden sm:inline"
            />Finally, I wanted to improve the workflow ands tools used in our
            team, that led to the presentation of a documentation to meet the
            needs of the group and adapt to the major technical evolution
            represented by the new Gutenberg content editor, and participation
            in its implementation in collaboration with the team (<span
              class="font-bold">Composer</span
            >,
            <span class="font-bold">Timber</span>, <span class="font-bold"
              >Twig</span
            >, <span class="font-bold">Extended ACF (Vinkla)</span>, <span
              class="font-bold">Webpack</span
            >, <span class="font-bold">SASS</span>...).
          </p>
        </div>
      </div>
      <div class="gap-10 pb-10 md:flex">
        <p class="pb-2 text-base text-muted-foreground md:w-1/4 md:pb-0">
          May - Jul 2019
        </p>
        <div class="md:w-3/4">
          <p class="pb-2 text-xl font-semibold leading-tight tracking-tight">
            WordPress Developer
          </p>
          <p class="pb-5 text-base font-medium leading-tight tracking-tight">
            Health Behaviour in Motion
          </p>
          <p class="hyphens-auto text-justify text-base text-muted-foreground">
            I worked on the developement and integration of new WordPress
            features via <span class="font-bold">PHP</span>, <span
              class="font-bold">JavaScript</span
            >, <span class="font-bold">HTML 5</span> and <span class="font-bold"
              >CSS 3</span
            >, including installation of "child themes", webmastering of a
            back-officle of 3 multi-sites under WordPress, bug fixes and content
            integration. I also use plugins such as <span class="font-bold"
              >Woocommerce</span
            >, <span class="font-bold">Leardash</span>,<span class="font-bold">
              Uncanny Own</span
            >, <span class="font-bold">Loco Translate</span> and <span
              class="font-bold">Elementor</span
            >. Finally I helped Logotyping and photo editing the concept called
            "Learn X".
          </p>
        </div>
      </div>
      <div class="gap-10 md:flex">
        <p class="pb-2 text-base text-muted-foreground md:w-1/4 md:pb-0">
          Mar - Apr 2019
        </p>
        <div class="md:w-3/4">
          <p class="pb-2 text-xl font-semibold leading-tight tracking-tight">
            Web Developer / Project Manager
          </p>
          <p class="pb-5 text-base font-medium leading-tight tracking-tight">
            O'Clock
          </p>
          <p class="hyphens-auto text-justify text-base text-muted-foreground">
            My job was part of a team work to create a brand new website from
            scratch within a period a little over 3 weeks. I had to create the
            wireframes, webdesign and logotype the concept, create a custom
            <span class="font-bold">WordPress</span> installation. I partially integrated
            the styles via <span class="font-bold">SASS</span>, add Weather API
            with <span class="font-bold">JavaScript</span> and finally created register
            custom fields and WordPress templates.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
