---
import { buttonVariants } from '@/components/ui/button'
---

<section class="flex flex-col items-start gap-6 pb-8 pt-6 md:py-10">
  <div class="flex flex-col items-start gap-7">
    <h2
      class="border-b pb-2 text-xl font-extrabold leading-tight tracking-tighter md:text-2xl"
    >
      PROJECTS
    </h2>
    <p class="hyphens-auto text-justify text-lg text-muted-foreground">
      I love R&D: searching, testing and implementing new techs and stacks,
      always looking for easier and better ways of solving common issues. My
      core tools are <span class="font-bold">PHP</span>, <span class="font-bold"
        >JavaScript</span
      > and <span class="font-bold">React</span>. I'm also familiar with
      <span class="font-bold">TypeScript</span>, <span class="font-bold"
        >Node.js</span
      >, <span class="font-bold">MongoDB</span>, <span class="font-bold"
        >Electron.js</span
      >, Frameworks like <span class="font-bold">Astro</span> and CMS like <span
        class="font-bold">WordPress</span
      > and <span class="font-bold">Sanity</span>.<br
        class="mb-4 hidden sm:inline"
      />
      When not online, I love hanging out with my wife as we live in a beautiful
      environnement, having a good meal, reading and playing with my cat.
    </p>
  </div>
  <div class="flex w-full justify-center">
    <a href="/projects" class:list={[buttonVariants(), 'transition-none']}>
      Projects
    </a>
  </div>
</section>
