---
import BaseLayout from '@/layouts/BaseLayout.astro'
---

<BaseLayout
  title="Blog"
  description="A list of posts related to dev, techs and stacks, and my journey through it."
>
  <section class="container grid items-center gap-6 pb-8 pt-6 md:py-10">
    <div class="flex max-w-[980px] flex-col items-start gap-2">
      <h1
        class="text-3xl font-extrabold leading-tight tracking-tighter md:text-4xl"
      >
        BLOG
      </h1>
      <p class="max-w-[700px] text-lg text-muted-foreground">Blog page.</p>
    </div>
  </section>
</BaseLayout>
