---
import { ContactForm } from '@/components/ContactForm.tsx'
import BaseLayout from '@/layouts/BaseLayout.astro'
---

<BaseLayout
  title="Contact"
  description="For potential collaborations or job inquiries, please contact me."
>
  <section class="flex flex-col">
    <div class="flex flex-col items-start gap-2 pb-8">
      <h1
        class="text-3xl font-extrabold leading-tight tracking-tighter md:text-4xl"
      >
        CONTACT
      </h1>
      <p class="hyphens-auto text-justify text-base text-muted-foreground">
        For potential collaborations or job inquiries, please use the contact
        form below. Whether you're interested in discussing projects or
        exploring employment opportunities, I'm here to connect. Feel free to
        reach out with any questions or proposals. I value the chance to
        collaborate and look forward to hearing from you.
      </p>
    </div>
    <div class="flex w-full justify-center">
      <ContactForm client:load />
    </div>
  </section>
</BaseLayout>
