---
import PageProjectCard from '@/components/PageProjectCard.astro'
import BaseLayout from '@/layouts/BaseLayout.astro'
import {
  projectPageSelection,
  runQuery,
  type PageProjectsProps,
} from '@/lib/project'
import { q } from 'groqd'

async function getProjects() {
  return runQuery(
    q('*')
      .filter("_type == 'project'")
      .grab(projectPageSelection)
      .order('createdAt desc'),
  )
}

const projects: PageProjectsProps[] = await getProjects()
export const prerender = true
---

<BaseLayout
  title="Projects"
  description="A list of most of my most relevant projects."
>
  <section class="flex flex-col">
    <div class="flex flex-col items-start gap-2 pb-8">
      <h1
        class="text-3xl font-extrabold leading-tight tracking-tighter md:text-4xl"
      >
        PROJECTS
      </h1>
      <p class="hyphens-auto text-justify text-base text-muted-foreground">
        As a web developer, I've spent countless hours researching, testing, and
        trying various technologies and stacks. I've been constantly improving
        my skills and abilities, attempting to stay current with the web, so
        here's a live snapshot of my work since I began my adventure in 2018.
        From WordPress to React, as well as Node, Astro, and PHP.
      </p>
    </div>
    {
      projects.length && (
        <div class="grid grid-cols-1 gap-5 sm:grid-cols-1 md:grid-cols-2">
          {projects.map((project) => (
            <PageProjectCard project={project} />
          ))}
        </div>
      )
    }
  </section>
</BaseLayout>
