---
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro'
import { q } from 'groqd'
import { runQuery, projectSingleSelection } from './../../lib/project'
import PortableText from '../../components/PortableText.astro'
import BaseLayout from '@/layouts/BaseLayout.astro'

export const getStaticPaths = (async () => {
  async function getProjects() {
    return runQuery(
      q('*')
        .filter("_type == 'project'")
        .grab(projectSingleSelection)
    )
  }
  const projects = await getProjects()

  return projects.map((project) => {
    return {
      params: {
        slug: project.slug || '',
      },
      props: { ...project },
    }
  })
}) satisfies GetStaticPaths

type Props = InferGetStaticPropsType<typeof getStaticPaths>

const { ...project } = Astro.props
---

<BaseLayout
  title="Astro Shadcn UI Template"
  description="This template helps you build apps with Astro, Tailwind CSS, and Shadcn UI."
>
  <section class="container grid items-center gap-6 pb-8 pt-6 md:py-10">
    <div class="flex max-w-[980px] flex-col items-start gap-2">
      <h1
        class="text-3xl font-extrabold leading-tight tracking-tighter md:text-4xl"
      >
        {project.title}
      </h1>
      <!-- <p class="max-w-[700px] text-lg text-muted-foreground">
        <PortableText portableText={body} />
      </p> -->
      <article>
        <PortableText portableText={project.body} />
      </article>
    </div>
  </section>
</BaseLayout>

<!-- <style>
  h1 {
    font-weight: 400;
  }
</style> -->
