---
import { sanityClient } from 'sanity:client'
import PortableText from '../../components/PortableText.astro'
import BaseLayout from '@/layouts/BaseLayout.astro'

export async function getStaticPaths() {
  const projects = await sanityClient.fetch(
    `*[_type == "project" && defined(slug)] | order(createdAt desc)`,
  )

  return projects.map((project) => {
    return {
      params: {
        slug: project.slug?.current || '',
      },
      props: { ...project },
    }
  })
}

const { title, body } = Astro.props
---

<BaseLayout
  title="Astro Shadcn UI Template"
  description="This template helps you build apps with Astro, Tailwind CSS, and Shadcn UI."
>
  <section class="container grid items-center gap-6 pb-8 pt-6 md:py-10">
    <div class="flex max-w-[980px] flex-col items-start gap-2">
      <h1
        class="text-3xl font-extrabold leading-tight tracking-tighter md:text-4xl"
      >
        {title}
      </h1>
      <!-- <p class="max-w-[700px] text-lg text-muted-foreground">
        <PortableText portableText={body} />
      </p> -->
      <article>
        <PortableText portableText={body} />
      </article>
    </div>
  </section>
</BaseLayout>

<!-- <style>
  h1 {
    font-weight: 400;
  }
</style> -->
