---
import { ViewTransitions } from "astro:transitions";
import HeadSEO from '@/components/HeadSEO.astro'
import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'

interface Props {
  title?: string | undefined
  description?: string | undefined
  ogImage?: URL | undefined
  class?: string | undefined
}

const { title, description, ogImage, class: className } = Astro.props
---

<html lang="en">
  <head>
    <HeadSEO title={title} description={description} ogImage={ogImage} />
    <ViewTransitions />
  </head>
  <body class="min-h-screen bg-background font-sans antialiased">
    <div class="relative flex min-h-screen flex-col">
      <Header />
      <main class:list={["container mx-auto flex-auto", className]}>
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>